doctype 5
html
  head
    //- title= title
    
    !=css('style')

  body
    block content
    
    !=js('vendor/angular/angular')
    !=js('vendor/angular/angular-cookies')
    !=js('vendor/angular/angular-resource')
    !=js('app')

    block extrajs


    //- != js('controllers/')
