doctype 5
html(ng-app="www")
  head
    //- title= title
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    !=css('vendor/bootstrap.min')
    !=css('style')

  body
    block content
    
    !=js('vendor/angular/angular')
    !=js('vendor/angular/angular-cookies')
    !=js('vendor/angular/angular-resource')
    !=js('vendor/d3.min')
    !=js('vendor/chroma.min')
    !=js('app')
    !=js('filters')
    !=js('services')
    !=js('controllers')

    block extrajs


    //- != js('controllers/')
