doctype 5
html(ng-app="www")
  head
    title Why What When ?
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    !=css('vendor/bootstrap.min')
    !=css('style')

  body
    block content
    
    !=js('vendor/angular/angular')
    !=js('vendor/angular/angular-cookies')
    !=js('vendor/angular/angular-resource')
    !=js('vendor/d3.min')
    !=js('vendor/chroma.min')
    !=js('vendor/underscore.min')
    !=js('vendor/jquery.min')
    !=js('app')
    !=js('filters')
    !=js('services')
    !=js('controllers')
    !=js('directives')
    !=js('tools')

    block extrajs

    //- != js('controllers/')
