doctype 5
html(ng-app="www")
  head
    //- title= title
    
    !=css('style')

  body
    block content
    
    !=js('vendor/angular/angular')
    !=js('vendor/angular/angular-cookies')
    !=js('vendor/angular/angular-resource')
    !=js('app')
    !=js('filters')
    !=js('services')
    !=js('controllers')

    block extrajs


    //- != js('controllers/')
