@brand-primary: #FF0000;

@step0color: #B4D567;
@step1color: #5CC48E;
@step2color: #38A8AC;
@step3color: #82444D;

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #000;
  color: white;
}

a {
  color: #00B7FF;
  &#test{
    color: green;
  }
}

.primary {
    color: @brand-primary;
}

nav  {
    form.navbar-form {
        padding-left: 0;
    }
}

.timeline {
  .timeline-holder {
    min-height: 100px;
    transition: background-color 250ms linear;

    &.step-0 {
      background-color: @step0color;
    }

    &.step-1 {
      background-color: @step1color;
    }

    &.step-2 {
      background-color: @step2color;
    }

    &.step-3 {
      background-color: @step3color;
    }

    .lapse {
        background-color: white;
        opacity: 0.7;
        min-height: 100px;
        &:hover {
          opacity: 1;
        }
    }
  }
  .zoom-controls {
    text-align: center;
    font-size: 1.2em;
    .zoom-control {
      background: transparent;
      border: none;
      color: #888;

      &:hover {
        color: #dedede;
      }
    }
  }

  .legend {
    float: left;
    clear: both;
    width: 100%;
    height: 15px;
    .start { float: left; }
    .end { float: right; }
  }

}

.cards {
  margin: 10px 0;
}

.card {
  width: 150px;
  height: 150px;
  min-height: 150px;
  background: #555;
  float: left;
  margin: 0 10px 10px 0;
  padding: 10px;
  overflow: hidden;

  &:hover {
    height: auto;
  }

  .source {
    text-align: center;
    font-weight: bold;
    padding: 4px 0;
  }
}

.controls {
  clear: both;
  text-align: center;

  button {
    border: none;
    background: transparent;
    font-size: 44px;
    color: #888;

    &:hover {
      color: #dedede;

    }

    &:disabled {
      color: #333;
    }
  }
}