@brand-primary: #252542;
@brand-secondary: #AC79CD;

@step0color: #B4D567;
@step1color: #5CC48E;
@step2color: #38A8AC;
@step3color: #82444D;

// // RGBA mixin 
.rgba(@colour, @alpha){
    @alphaColour: hsla(hue(@colour), saturation(@colour), lightness(@colour), @alpha);
     
    background-color: @colour; // Fallback for older browsers
    background-color: @alphaColour; 
     
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #202020;
  color: white;
  overflow-x: hidden;
  width: 100%;
}

a {
  color: #00B7FF;
  &#test{
    color: green;
  }
}

.primary {
    color: lighten(@brand-primary, 20%);
}


.timeline {
  overflow-x: hidden;

  .timeline-holder {
    width: 100%;
    overflow: hidden;
    min-height: 100px;
    background-color: desaturate(lighten(@brand-primary, 10%), 11%);
    // transition: background-color 250ms linear;

    .lapse {
      min-height: 100px;

      transition: background-color 250ms linear, left 450ms linear, width 450ms ease-out;
      cursor: pointer;

      .rgba(@brand-primary, 0);
      &.clickable {
        .rgba(@brand-primary, .7);
        &:hover {
          .rgba(@brand-primary, 1);

        }
      }
      &.sub {
        top: 0;
      }
      h3 {
        position: relative;
        width: 300px;
        z-index: 10;
        transition: opacity 250ms ease-in;
        opacity: 0;
      }
      &.clickable:hover {
        > h3 {
          opacity: 1;
        }
      }
    }
  }
  .zoom-controls {
    text-align: center;
    font-size: 1.2em;
    .zoom-control {
      background: transparent;
      border: none;
      color: #888;

      &:hover {
        color: #dedede;
      }
    }
  }

  .legend {
    position: relative;
    float: left;
    clear: both;
    width: 100%;
    height: 15px;
    span {
      text-align:center;
      @span-width: 20px;
      width: @span-width;
      left: -(@span-width)/2;
      &:first-child {
        left: 0px !important;
      }
      &:last-child {
        right: -(@span-width)/2;
        text-align: right;
      }
    }

  }

}

.cards {
  margin: 10px 0;
}

.card {
  width: 150px;
  height: 150px;
  min-height: 150px;
  background: #555;
  float: left;
  margin: 0 10px 10px 0;
  padding: 10px;
  overflow: hidden;

  &:hover {
    height: auto;
  }

  .source {
    text-align: center;
    font-weight: bold;
    padding: 4px 0;
  }
}

.controls {
  clear: both;
  text-align: center;

  button {
    border: none;
    background: transparent;
    font-size: 44px;
    color: #888;

    &:hover {
      color: #dedede;

    }

    &:disabled {
      color: #333;
    }
  }
}