@brand-primary: #FF0000;

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #000;
  color: white;
}

a {
  color: #00B7FF;
  &#test{
    color: green;
  }
}

.primary {
    color: @brand-primary;
}

nav  {
    form.navbar-form {
        padding-left: 0;
    }
}

.timeline {
  .timeline-holder {
    min-height: 100px;
    background-color: #BBB;
    .lapse {
        background-color: white;
        opacity: 0.7;
        min-height: 100px;
        &:hover {
          opacity: 1;
        }
    }
  }
  .zoom-controls {
    text-align: center;
    font-size: 1.2em;
    .zoom-control {
      cursor: pointer;
    }

  }
}

.cards {
  margin: 10px 0;
}

.card {
  width: 150px;
  height: 150px;
  min-height: 150px;
  background: #555;
  float: left;
  margin: 0 10px 10px 0;
  padding: 10px;
  overflow: hidden;

  &:hover {
    height: auto;
  }

  .source {
    text-align: center;
    font-weight: bold;
    padding: 4px 0;
  }
}