<div class="row-fluid">
    <div class="col-sm-4 no-lpad">
        <h1 class="main-title">WHY WHAT <span class="primary">WHEN</span> ?</h3>
        <h3>Explore events in a simple way</h3>
        <form class="form-inline">
            <div class="form-group">
                <input type="text" ng-model="topic" placeholder="Ex: Cuba Crysis" typeahead="sugg for sugg in typeahead_suggestions" typeahead-editable="false" class="form-control" />
            </div>
            <button type="submit" class="btn btn-default"><i class="icon-search"></i></button>
        </form>
    </div>
    <div ng-if="currentTopic" class="topic-extract">
        <div id="rightTriangle"></div>
        <div class="extract-content">
            <h2>{{ currentTopic.title }}</h2>
            <p>{{ currentTopic.description }}</p>
        </div>
    </div>
    <div class="logo">
        <h4>Journalism++
        <img src="img/jpp.png"/></h4>
    </div>
</div>
<div class="clearfix"></div>

<timeline data='currentTopic'></timeline>
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://whywhatwhen.jplusplus.org" data-via="jplusplus_" data-hashtags="mhd2013">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<div class="cards">
    <div ng-repeat="event in data.sub_events | dateFilter:filters.beginDate:filters.endDate" class="card">
        <div class="source">{{event.title}}</div>
        <p>{{event.description}}</p>
    </div>
</div>
