<div class="row-fluid">
    <div class="col-sg">
        <h3>Why What <span class="primary">When</span> ?</h3>
        <form class="form-inline">
            <div class="form-group">
                <input class="form-control"/>
            </div>
            <button type="submit" class="btn btn-default"><i class="icon-search"></i></button>
        </form>
    </nav>

    <div ng-if="currentTopic" class="topic-extract">
        <h3>{{ currentTopic.title }}</h3>
        <p>{{ currentTopic.description }}</p>
    </div>
</div>
<timeline data='currentTopic'></timeline>
<div class="cards">
    <div ng-repeat="event in data.sub_events | dateFilter:'1962-10-14T00:00:01Z':'1962-10-26T00:00:01Z'" class="card">
        <div class="source">{{event.title}}</div>
        <p>{{event.description}}</p>
    </div>
</div>
