<div class="timeline">
    <h1  ng-bind="lapseTitle()" class="timeline-title"></h1>
    <div class="timeline-holder step-{{zoomLevel}}">
        <div ng-class="zoomLevel < 3 ? 'lapse clickable' : ' lapse'" 
             ng-repeat="event in getEvents() track by $index" 
             ng-style="lapseStyle(event)">
             <h3 class="lapse-title">{{event.title}}</h3>
            <div ng-class="zoomLevel === 3 ? 'sub lapse clickable' : 'sub lapse'" 
                 ng-repeat="sub_event in event.sub_events track by $index" 
                 ng-style="lapseStyle(sub_event, event)"
                 ng-click="loadLapse(sub_event)">
                <h3 class="lapse-title">{{sub_event.title}}</h3>
            </div>
        </div>
    </div>
    <div class="legend">
        <span ng-repeat="tick in lapseTicks() track by $index" ng-style="tickStyle(tick)">{{tick.label}}</span>
    </div>
    <div class="zoom-controls">
        <button class="zoom-control" ng-class="" ng-click="unzoomLapse()"><i class="icon-minus"></i></button>&nbsp;/
        <button class="zoom-control" ng-class="" ng-click="zoomLapse()"><i class="icon-plus"></i></button>
    </div>
</div>
